@charset "utf-8";
/* css reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,em,button{margin:0;padding:0;}
body{ font-family:"Microsoft YaHei", "微软雅黑", arial,Simsun, sans-serif; color:#333; background-color: #fff; }
img, fieldset{border:none;vertical-align:middle;}
input, textarea{font-size:12px;}
table{border-collapse:collapse;}
a{color:#06c;text-decoration:none;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5{font-weight: normal;}
ul,ol{list-style:none;}
input[type="button"],input[type="submit"]{-webkit-appearance:none;cursor: pointer;}
input[type="text"]{border-radius:0;}
body{max-width: 640px;margin:0 auto;}
html{font-size: 62.5%;}
header img,.section .imgbox img{
	width: 100%;
}
#main{
	padding-bottom: 9.0rem;
}
#main h1{
	font-size: 2.0rem;
	color:#535353; 
	text-align: center;
	padding: 7.0rem 0;
}
.section{
	margin-bottom: 9.0rem;
}
.section .infobox{
	text-align: center;
}
.section .infobox h3{
	font-size: 3.0rem;
	color: #ed6d00;
	padding:2.0rem 0 1.0rem 0;
}
.section .infobox p{
	font-size: 2.0rem;
	color: #b4b4b4;
}
footer{
	width: 100%;
	background: #ed6d00;
	position: fixed;
	bottom: 0;
	left: 0;
	box-sizing:border-box;
	padding: 1.8rem 1.0rem;
	display: -webkit-box;
	z-index: 99999;
}
footer .btn{
	display: block;
	border:1px solid #FFF;
	border-radius: 0.7rem;
	padding:0.8rem;
	-webkit-box-flex: 1;
	font-size: 2.0rem;
	color:#FFF;
	text-align: center;
	margin:0 0.5rem;
	text-shadow: none;
}
footer .btn:link, footer .btn:visited {
    color: #FFF;
}

.section:nth-child(4){
	margin-bottom: 3.5rem;
}

.go-regist{
	width: 100%;
	padding: 1.5rem 0;
	text-align: center;
	color: #808080;
	font-size: 1.8rem;
	background: #f0f0f0;
	margin-bottom: 4rem;
}
.go-regist a{
	color: #3eb370;
	border-bottom: 1px solid #3eb370;
}

@media screen and (max-width: 360px){
    footer .btn{
        font-size: 1.8rem;
    }

}
@media screen and (max-width: 320px){
    footer .btn{
        font-size: 1.6rem;
    }

}
